* {
    margin:0;
    padding:0;
}

header, main, footer, nav, aside, section, div{
    display: block;
}

#layout1{
    width: 1440px;
    margin: 0px;
    background: #FFFFFF;
}

header {
    width:1440px;
    height:123px;
    background-color: #b6d7a8;
}

#layout1 main{
    position: absolute;
    width: 881px;
    height: 624px;
    left: 244px;
    top: 214px;
    background-color: #ffffff;
}

#layout1 main h1 {
    position: absolute;
    font-family: Amiko;
    font-weight: 700;
    font-size: 72px;
    line-height: 96px;
    margin-top: 176px;
    margin-left: 0px;
    color: #000000;
}

#layout1 main p{
    position: absolute;
    font-family: Amiko;
    font-weight: 700;
    font-size: 24px;
    margin-top: 263px;
    margin-left: 0px;
    color: #000000;
}

#layout1 .rec1 {
    position: absolute;
    background-color: #3eb489;
    width: 75px;
    height: 23px;
    margin-top: 44px;
    margin-left: 444px;
}

#layout1 .rec2 {
    position: absolute;
    background-color: #3eb489;
    width: 136px;
    height: 46px;
    margin-top: 74px;
    margin-left: 444px;
}

#layout1 .rec3 {
    position: absolute;
    background-color: #3eb489;
    width: 134px;
    height: 404px;
    margin-top: 132px;
    margin-left: 444px;
}

#layout1 .rec4 {
    position: absolute;
    background-color: #3eb489;
    width: 88px;
    height: 28px;
    margin-top: 547px;
    margin-left: 444px;
}

#layout1 .rec5 {
    position: absolute;
    background-color: #3eb489;
    width: 25px;
    height: 26px;
    margin-top: 582px;
    margin-left: 444px;
}

#layout1 .rec6 {
    position: absolute;
    background-color: #3eb489;
    width: 25px;
    height: 26px;
    margin-top: 582px;
    margin-left: 476px;
}

#layout1 .rec7 {
    position: absolute;
    background-color: #3eb489;
    width: 246px;
    height: 352px;
    margin-top: 44px;
    margin-left: 593px;
}

#layout1 .rec8 {
    position: absolute;
    background-color: #3eb489;
    width: 123px;
    height: 212px;
    margin-top: 412px;
    margin-left: 593px;
}

#layout1 .rec9 {
    position: absolute;
    background-color: #3eb489;
    width: 55px;
    height: 105px;
    margin-top: 412px;
    margin-left: 730px;
}

#layout1 .rec10 {
    position: absolute;
    background-color: #3eb489;
    width: 110px;
    height: 58px;
    margin-top: 524px ;
    margin-left: 730px;
}

#layout1 .rec11 {
    position: absolute;
    background-color: #3eb489;
    width: 28px;
    height: 55px;
    margin-top: 0px;
    margin-left: 853px;
}

#layout1 .rec12 {
    position: absolute;
    background-color: #3eb489;
    width: 28px;
    height: 55px;
    margin-top: 66px;
    margin-left: 853px;
}

#layout1 .rec13 {
    position: absolute;
    background-color: #3eb489;
    width: 28px;
    height: 55px;
    margin-top: 132px;
    margin-left: 853px;
}

#layout1 .rec14 {
    position: absolute;
    background-color: #3eb489;
    width: 28px;
    height: 198px;
    margin-top: 198px;
    margin-left: 853px;
}

#layout1 .rec15 {
    position: absolute;
    background-color: #3eb489;
    width: 55px;
    height: 105px;
    margin-top: 412px;
    margin-left: 826px;
}

#layout1 footer{
    position: absolute;
    width: 1440px;
    height: 41px;
    margin-left: 0px;
    margin-top: 983px;
    background-color: #14423c;
}

#layout1 a{
    text-decoration: none;
    font-family: Amiko;
    font-size: 24px;
    color: #000000;
}

#layout1 nav {
    position: absolute;
    margin-top: 52px;
    margin-left: 575px;
}

.stairs{
    margin-left: 18px;
    margin-right: 17px;
}

.stairs:hover{
    margin-left: 18px;
    margin-right: 17px;
    color: #3bd1c0;
}

.Mix:hover{
    color: #3bd1c0;
}

.dynamic:hover{
    color: #3bd1c0;
}

#layout2{
    width: 1440px;
    margin: 0px;
    background: #FFFFFF;
}


#layout2 .recG1 {
    position: absolute;
    width: 457px;
    height: 299px;
    background-color: #3eb489;
    margin-top: 119px;
    margin-left: 151px;
}

#layout2 .recG2 {
    position: absolute;
    width: 457px;
    height: 299px;
    background-color: #3eb489;
    margin-top: 488px;
    margin-left: 151px;
}

#layout2 .recG3 {
    position: absolute;
    width: 457px;
    height: 299px;
    background-color: #3eb489;
    margin-top: 857px;
    margin-left: 151px;
}

#layout2 .recG4 {
    position: absolute;
    width: 457px;
    height: 299px;
    background-color: #3eb489;
    margin-top: 1226px;
    margin-left: 151px;
}

#layout2 .recG5 {
    position: absolute;
    width: 457px;
    height: 299px;
    background-color: #3eb489;
    margin-top: 1595px;
    margin-left: 151px;
}

#layout2 .recG6 {
    position: absolute;
    width: 457px;
    height: 299px;
    background-color: #3eb489;
    margin-top: 287px;
    margin-left: 663px;
}

#layout2 .recG7 {
    position: absolute;
    width: 457px;
    height: 299px;
    background-color: #3eb489;
    margin-top: 656px;
    margin-left: 663px;
}

#layout2 .recG8 {
    position: absolute;
    width: 457px;
    height: 299px;
    background-color: #3eb489;
    margin-top: 1025px;
    margin-left: 663px;
}

#layout2 .recG9 {
    position: absolute;
    width: 457px;
    height: 299px;
    background-color: #3eb489;
    margin-top: 1394px;
    margin-left: 663px;
}

#layout2 .recG10 {
    position: absolute;
    width: 457px;
    height: 299px;
    background-color: #3eb489;
    margin-top: 1763px;
    margin-left: 663px;
}

#layout2 footer{
    position: absolute;
    width: 1440px;
    height: 41px;
    margin-left: 0px;
    margin-top: 0px;
    background-color: #14423c;
}

#layout2 aside {
    width: 169px;
    height: 1925px;
    margin-left: 1271px;
    top: 123px;
    background-color: #3bd1c0;
}

#layout2 nav {
    position: absolute;
    margin-top: 52px;
    margin-left: 575px;
}

#layout2 aside a{
    position: absolute;
    width: 81px;
    height: 641px;
    left: 1315px;
    top: 1363px;
    font-family:Amiko;
    font-size: 96px;
    color: #000000;
    text-decoration: none;
}

#layout2 nav a{
    text-decoration: none;
    font-family: Amiko;
    font-size: 24px;
    color: #000000;
}

#layout2 aside .z{
    position: absolute;
    margin-top: 200px;
}

#layout2 aside .z:hover{
    position: absolute;
    margin-top: 200px;
    color: #3bd1c0;
}

#layout2 aside .i{
    position: absolute;
    margin-top: 300px;
    margin-left: 23px;
}

#layout2 aside .i:hover{
    position: absolute;
    margin-top: 300px;
    margin-left: 23px;
    color: #3bd1c0;
}

#layout2 aside .v{
    position: absolute;
    margin-top: 400px;
}

#layout2 aside .v:hover{
    position: absolute;
    margin-top: 400px;
    color: #3bd1c0;
}

#layout2 aside .square1 {
    width: 80px;
    height: 80px;
    position: absolute;
    margin-top: 119px;
    margin-left: 0px;
    background-color: #113826;
}

#layout2 aside .square2 {
    width: 80px;
    height: 80px;
    position: absolute;
    margin-top: 247px;
    margin-left: 89px;
    background-color: #ffffff;
}

#layout2 aside .square3 {
    width: 80px;
    height: 80px;
    position: absolute;
    margin-top: 616px;
    margin-left: 0px;
    background-color: #113826;
}
@media only screen and (min-width: 1000px) {
    

#layout3{
    width: 1440px;
    margin: 0px;
    background: #FFFFFF;
}

#layout3 header{
    width: 1440px;
    height: 123;
    background-color: #b6d7a8;
}

#layout3 header .square-header{
    position: absolute;
    width: 80px;
    height: 80px;
    margin-top: 21px;
    margin-left: 1336px;
    background-color: #113826;
}

#layout3 .nav{
    position: absolute;
    width: 372px;
    height: 995px;
    margin-left: 0px;
    margin-top: 0px;
    background: #113826;
}

#layout3 a{
    text-decoration: none;
    font-family: Amiko;
    font-size: 24px;
    color: #000000;
}

#layout3 nav {
    position: absolute;
    margin-top: 123px;
    margin-left: 38px;
}

#layout3 .stairs{
    margin-left: 18px;
    margin-right: 17px;
}

#layout3 .stairs:hover{
    margin-left: 18px;
    margin-right: 17px;
    color: #3bd1c0;
}

#layout3 .Mix:hover{
    color: #3bd1c0;
}

#layout3 .dynamic:hover{
    color: #3bd1c0;
}

#layout3 main{
    width: 1440px;
    height: 1458px;
    background-color: #FFFFFF;
}

#layout3 aside{
    width: 104px;
    height: 995px;
    position: absolute;
    margin-top: 0px;
    margin-left: 1336px;
    background-color: #3bd1c0;
}

#layout3 .bottom{
    width: 1440px;
    height: 463px;
    position: absolute;
    margin-top: 995px;
    margin-left: 0px;
    background-color: #8fb1b1;
}

#layout3 footer{
    position: absolute;
    width: 1440px;
    height: 41px;
    margin-left: 0px;
    margin-top: 0px;
    background-color: #14423c;
}

}

@media only screen and (max-width: 999px) {

    #layout3{
        width: 850px;
        margin: 0px;
        background: #FFFFFF;
    }
    
    #layout3 header{
        width: 850px;
        height: 123px;
        background-color: #b6d7a8;
    }

    #layout3 header .square-header{
        position: absolute;
        width: 80px;
        height: 80px;
        margin-top: 21px;
        margin-left: 744px;
        background-color: #113826;
    }

    #layout3 .nav{
        position: absolute;
        width: 850px;
        height: 105px;
        margin-left: 0px;
        margin-top: 0px;
        background: #113826;
    }
    
    #layout3 a{
        text-decoration: none;
        font-family: Amiko;
        font-size: 24px;
        color: #000000;
    }
    
    #layout3 nav {
        position: absolute;
        margin-top: 45px;
        margin-left: 302px;
    }
    
    #layout3 .stairs{
        margin-left: 18px;
        margin-right: 17px;
    }
    
    #layout3 .stairs:hover{
        margin-left: 18px;
        margin-right: 17px;
        color: #3bd1c0;
    }
    
    #layout3 .Mix:hover{
        color: #3bd1c0;
    }
    
    #layout3 .dynamic:hover{
        color: #3bd1c0;
    }
    
    #layout3 main{
        width: 850px;
        height: 1346px;
        background-color: #FFFFFF;
    }
    
    #layout3 aside{
        display: none;
    }
    
    #layout3 .bottom{
        width: 850px;
        height: 409px;
        position: absolute;
        margin-top: 995px;
        margin-left: 0px;
        background-color: #8fb1b1;
    }
    
    #layout3 footer{
        position: absolute;
        width: 850px;
        height: 41px;
        margin-left: 0px;
        margin-top: 20px;
        background-color: #14423c;
    }
}